/* App.css */
* {
  --primary-color: #AA81F3;
  --text-color: #3A4554;
}

.app-container {
  position: relative;
  min-height: 100vh;
}

/* Đảm bảo body và html không có nền */
body, html {
  margin: 0;
  padding: 0;
  background: none;
}

#root {
  position: relative;
  min-height: 100vh;
}

.main-content {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px); /* Trừ chiều cao của header */
}